DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
DB_PREFIX='canview_'

WP_ENV='development'
WP_HOME='http://localhost/projet_cvtheques/projet-cvtheques/bedrock/web'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='DFvcqndgP?1b{$wE6$uUfUQ-D_tk#>nG(fEp7onfc5sl9Nz2)Qn?.yFl#slCnwyZ'
SECURE_AUTH_KEY='}{`FT4Qj`Du:n{[znobt8(4LNf/|#[MPEC;w?^J%rT}119KL<$_2U=XO?])r@c9v'
LOGGED_IN_KEY='dx5K}QR#&PhAxNUHi7AixID7ikZB55%E.w-Bi_`m]V9l]Cj+a.69Q^KSVrX*?2)S'
NONCE_KEY='}l%$+o9[<0(Ilej8Q?H{=FFY&g4LFJ1yC8d{iI-*5*u![810.6k*4cR[00C<?k#v'
AUTH_SALT='3RmaC64(7)XWHJkuU)i{Z9;U$%tuUZ!|+WN/hp*Jp|g.8/;GC.f}#VfYxv7L<igj'
SECURE_AUTH_SALT='/}..Ft3:pW-?2ob<P_cO#}=2MT{|K[l<xycJU0D?Q&>yBt|]v5-&,OZ2zx0(o70G'
LOGGED_IN_SALT='<^+UEeo|GtrUFj,k$,7P^]8NeSR,DA$O1mh@2)(<2Btlxv&f(1h;.hft,E>F5C)1'
NONCE_SALT='&#(^&KqA8?(!DJUD6^x^_A#l=Vx[8YGik,dL:h]*v.PYh)-%;q]*r_4UCezSs4:/'
