@use 'variable' as v;
#espaceUser{
  .espace{
    width: 100%;
    background-color: white;
    border-radius:10px;
    padding: 5rem;

    h1{
      font-size: 25px;
      color: black;
      span{
        color: v.$bleu-primary;
      }
    }
    .separator{
      height: 2px;
      width: 100%;
      margin: 1rem auto;
      border-top: dashed v.$bleu-form 3px;
    }
    .profil{
      display: flex;
      justify-content: space-between;
      .photoProfil{
        max-width: 600px;
        width: 100%;
        .photo{
          width: 65%;
          margin: 0 auto;
        }
      }
      .content{
        width: 50%;
        .info{
          font-size: 24px;
          padding: 0 1rem 1rem;
          p{
            color: black;
            padding: 0.5rem;
            span{
              color: v.$bleu-form;
            }
          }
        }
        .action{
          ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            li{
              width: 49%;
              text-align: center;
              display: flex;
              justify-content: center;
              margin-bottom:0.8rem;

              a {
                font-size: 20px;
                border: solid 2px v.$bleu-form;
                width: 100%;
                padding: 1rem;
                background-color: v.$bleu-form;
                color: white;
                border-radius: 10px;
                transition:all 0.3s ;
              }
              a:hover{
                background-color: white;
                color: v.$bleu-form;
              }
              .supprime{
                border: solid 2px v.$rouge;
                background-color: v.$rouge;
              }
              .supprime:hover{
                background-color: white;
                color: v.$rouge;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  #espaceUser{
    .espace{
      .profil{
        .photoProfil{
          .photo{
            width: 75%;
          }
        }
        .content{
          .action{
            ul{
              flex-direction: column;
              li{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #espaceUser{
    .espace{
      .profil{
        flex-direction: column;
        .content{
          width: 100%;
          .info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          .action{
            ul{
              flex-direction: row;
              li{
                width: 49%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  #espaceUser{
    .espace{
      padding: 4rem;
      .profil{
        .photoProfil{
          margin-bottom: 1rem;
        }
        .content{
          .info {

          }
          .action{
            ul{
              flex-direction: column;
              align-items: center;
              li{
                width: 90%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #espaceUser{
    .espace{
      padding: 3rem;
    }
  }
}

@media screen and (max-width: 370px) {
  #espaceUser{
    .espace{
      padding: 2rem;
      h1{
        font-size: 22px;
      }
      .profil{
        .content {
          .info {
            font-size: 20px;
          }
          .action{
            ul{
              li{
                a {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
