@use 'variable' as v;
#espaceRecruteur{
  .wrap{
    h1{
      border-radius: 10px;
      text-align: center;
      padding: 1rem;
      background-color: white;
      color: black;
      width: 300px;
      span{
        color: v.$bleu-primary;
      }
    }
    .listing{
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      .cv{
        width: 48%;
        margin: 0.5rem;
        a {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          background-color: white;
          border-radius: 10px;
          transition: all 0.3s;
          .photo {
            max-width: 150px;
            width: 100%;
            background-color: grey;
          }
          .content {
            width: 80%;

            padding: 1.5rem;

            .info1 {
              display: flex;
              justify-content: space-between;
              font-size: 20px;
              p{
                color: black;
                font-weight:  bold;
                padding: 0.5rem 0;
              }
            }

            .metier {
              p{
                padding: 0.5rem 0;
                color: v.$bleu-form;
              }
            }
          }
        }
        a:hover{
          background-color: black;
          .info1{
            p{
              color: white;
            }
          }
        }
      }
    }
  }
}