@use 'variable' as v;
#espaceRecruteur{
  .wrap{
    h1{
      margin-left: 1rem;
      border-radius: 10px;
      text-align: center;
      padding: 1rem;
      background-color: white;
      color: black;
      max-width: 300px;
      width: 100%;
      span{
        color: v.$bleu-primary;
      }
    }
    .listing{
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      .cv{
        width: 48%;
        margin: 0.5rem;
        a {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          background-color: white;
          border-radius: 10px;
          transition: all 0.3s;
          .photo {
            max-width: 150px;
            width: 100%;
            background-color: grey;
          }
          .content {
            width: 80%;

            padding: 1.5rem;

            .info1 {
              display: flex;
              justify-content: space-between;
              font-size: 20px;
              p{
                color: black;
                font-weight:  bold;

              }
            }

            .metier {
              p{
                padding: 0.5rem 0;
                color: v.$bleu-form;
              }
            }
          }
        }
        a:hover{
          background-color: black;
          .info1{
            p{
              color: white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1064px) {
  #espaceRecruteur{
    .wrap {
      .listing{
        flex-direction: column;
        align-items: center;
        .cv {
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  #espaceRecruteur {
    .wrap {
      .listing {
        .cv {
          a {
            .info1 {
              p{
                font-size: 18px;
              }
            }
            .metier {
              p{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  #espaceRecruteur {
    .wrap {
      .listing {
        .cv {
          a {
            .info1 {
              flex-direction: column;
              p{
                font-size: 16px;
              }
            }
            .metier {
              p{
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 490px) {
  #espaceRecruteur {
    .wrap {
      .listing {
        .cv {
          a {
            .photo{
              max-width: 121.6px;
            }
          }
        }
      }
    }
  }
}