@use 'variable' as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


ul,
ol {
  list-style: none;
}

body {
  background-color: v.$bleu-primary;
  font-family: v.$police-global;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.wrap{
  max-width: 1200px;
  margin: 0 auto;
}


//HEADER

#masthead {
  background-color: v.$blanc;
  margin: 1rem 0.5rem;
  border-radius: 100px;

  .wrap_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

    .left {
      display: flex;
      padding: 0 1rem;
    }

    .logo {
      max-width: 175px;
    }

    .right {
      display: flex;
      padding: 0 1rem;
    }

    ul {
      li {
        padding: 0 1rem;

        a {
          color: v.$noir;
        }
      }
    }
  }
}


//FOOTER

#colophon{
  background-color: v.$blanc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  .logo{
    max-width: 175px;
  }
  .fine-print{
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p{
      color: v.$bleu-form;
    }
  }
  .social{
    display: flex;
    gap: 1rem;
    img{
      max-width: 30px;
    }
  }
}