@use 'variable' as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrap{
  max-width: 1200px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: v.$bleu-primary;
  color: darkslategray;
}

a {
  text-decoration: none;
}
a:hover{
  transition: .4s;
}

img {
  width: 100%;
  vertical-align: bottom;
}


/*HEADER*/

#masthead {
  background-color: v.$blanc;
  margin: 1rem 0;
  border-radius: 100px;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      padding: 0 1rem;
    }

    .logo {
      max-width: 75px;
    }

    .right {
      display: flex;
      padding: 0 1rem;
    }

    ul {
      li {
        padding: 0 1rem;

        a {
          color: v.$noir;
        }
      }
    }
  }
}

/* HOMEPAGE */


#intro{
  padding: 1rem 0;
  background: linear-gradient(v.$bleu-primary, v.$blanc);

  .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;

    .content {
      display: flex;
      justify-content: space-between;

      .left_content{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        .texte{
          h1{
            font-size: 67px;
            color: v.$blanc;
          }

          p{
            color: v.$noir;
            font-size: 22px;
          }
        }

        .btn{

          a{
            background-color: v.$bleu-btn;
            color: v.$blanc;
            padding: 1rem 7rem;
            border-radius: 5px;

            font-size: 18px;

          }
          a:hover{
            background-color: #007F66;
          }
        }
      }
      .right_content{
        .flexslider{
          width: 620px;

          .slides{

            li{
              img{
                border-radius: 15px;
              }
            }
          }

        }
      }
    }
    .separator{
      border: 1px solid v.$noir;
      width: 90%;
      display: flex;
    }

  }
}
#statistics{
  padding: 1rem 0;
  background: v.$blanc;
  .wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;

    .content{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 2rem;

      .titles{

        h1{
          font-size: 51px;
          color: v.$vert-fonce;
        }
        h3{
          font-size: 32px;
          color: #2C7A93
        }
      }
      .infos{
        width: 100%;
        display: flex;
        justify-content: space-between;



        .info_1{
          background-color: v.$bleu-primary;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 3rem 2rem;
          gap: 4rem;
          width: 260px;


          .titre{
            h2{
              font-size : 32px;
              color: v.$noir;
            }
          }
          .texte {
            p{
              font-size: 18px;
              color: v.$noir;
              text-align: justify;
            }
          }
        }
        .info_2{
          background-color: v.$vert-pastel;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 2rem 2rem 3rem 2rem;
          gap: 4rem;
          width: 260px;

          .titre{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
              font-size : 20px;
              color: v.$noir;
              width: 75%;
            }
            .icon{
              background-color: v.$blanc;
              border-radius: 90px;
              padding: 1rem;
            }
          }
          .texte {
            a{
              display: flex;
              justify-content: center;
              background-color: v.$noir;
              padding: 1rem 2rem;
              border-radius: 90px;
              color: v.$blanc;
            }
          }

        }
        .info_3{
          background-color: v.$rose-pastel;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 3rem 2rem;
          gap: 4rem;
          width: 260px;
          .titre{

            h2{
              font-size : 32px;
              color: v.$noir;
            }
          }
          .texte {
            p{
              font-size: 18px;
              color: v.$noir;
              text-align: justify;
            }
          }
        }
        .info_4{
          background-color: v.$orange-pastel;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 2rem 2rem 3rem 2rem;
          gap: 4rem;
          width: 260px;

          .titre{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
              font-size : 20px;
              color: v.$noir;
              width: 75%;
            }
            .icon{
              background-color: v.$blanc;
              border-radius: 90px;
              padding: 1rem;

            }

          }
          .texte {
            a{
              display: flex;
              justify-content: center;
              background-color: v.$noir;
              padding: 1rem 2rem;
              border-radius: 90px;
              color: v.$blanc;
            }
          }
        }
      }
    }

    .separator{
      border: 1px solid v.$noir;
      width: 90%;
      margin: 0 auto;

    }
  }
}
#configuration {
  padding: 1rem 0;
  background: v.$blanc;
  .wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      .titles{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
          font-size: 51px;
          color: v.$vert-fonce;
        }
        p{
          font-size: 22px;
          color: #469F5D;
        }
      }
      .onglets{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .onglet_1{
          .image{
            img{
              border-radius: 15px;
            }

            p{
              display: flex;
              justify-content: center;
              align-items: center;
              color: #08BCA9;
              padding: 1rem 0;
            }
          }
          .titre{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h3{
              font-size: 22px;
              color: #51826A;
            }
            p{
              font-size: 14px;
              color: v.$noir;
            }
          }
        }
        .onglet_2{
          .image{
            img{
              border-radius: 15px;
            }
            p{
              display: flex;
              justify-content: center;
              align-items: center;
              color: #08BCA9;
              padding: 1rem 0;
            }
          }
          .titre{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 1rem;


            h3{
              font-size: 22px;
              color: #51826A;
            }
            p{
              font-size: 14px;
              color: v.$noir;
            }
          }

        }
        .onglet_3{
          .image{
            img{
              border-radius: 15px;
            }

            p{
              display: flex;
              justify-content: center;
              align-items: center;
              color: #08BCA9;
              padding: 1rem 0;            }
          }
          .titre{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 1rem;


            h3{
              font-size: 22px;
              color: #51826A;
            }
            p{
              font-size: 14px;
              color: v.$noir;
            }
          }
        }
      }
    }
    .separator{
      border: 1px solid v.$noir;
      width: 90%;
      margin: 0 auto;

    }
  }
}

#qui_somme_nous{
  .transition{
    padding: 5rem 0;
    background: linear-gradient(v.$blanc, v.$bleu-primary);
  }
  .wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      .titles{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h1{
          font-size: 51px;
          color: v.$blanc;
        }

        p{
          font-size: 14px;
          color: #469F5D;
        }
      }
      .video{
        iframe{
          border-radius: 15px;
        }
      }

    }
    .separator {
      border: 1px solid v.$blanc;
      width: 90%;
      margin: 0 auto;
    }
  }

}