@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

//COULEUR
$noir: #1D1A1C;
$blanc: #F7FFFB;
$bleu-primary: #96D2D9;
$bleu-form  : #87AACA;

$rouge : #D94B4B;

$bleu-btn : #00A795;
$vert-pastel : #87DE9E;
$rose-pastel : #F6CBFD;
$orange-pastel : #FFD36E;
$vert-fonce : #2F4B3D;



//POLICE
$police-global: 'DM Sans', sans-serif;
